*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
input, textarea  { -webkit-user-select:text; }
body { 
	background-color:#CCC; 
	color:black; 
	zoom:1; 
    font-family: 'Arial';
}
.gamebox {
	width: 648px;
	margin: 0 auto;
}
#cr-stage {
	background-color: #E4EBEA;
}
#cr-stage canvas{
	position: static !important;
}

.btn{
	width: 92%;
	margin: 0;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 24px; 
    text-align: center;
	font-weight: bold;
}
.btn:hover{
	cursor: pointer;
}

.btn.yellow{
	background: #F1C40F; 
}
.btn.green{
	background: #9dd53a; 
}

/*leaderboard styling*/
h3{
	font-size: 40px;
	text-align: center;
	color: #ffffff;
}
label{
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;

}
input[type="text"]{
	margin: 0;
	padding: 5px;
	font-size: 20px;
	width: 100%;
}
table{
	width: 100%;
	font-size: 20px;
	border-top: 1px solid #27AE60;
}

table td{
	border: 1px solid #27AE60;
	border-top: none;
	padding: 0 20px;
	font-size: 25px;
	vertical-align: middle;
}
.position{
	width: 100px;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
}
.name{
	position: relative;
	top: -5px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
.gameover{
	text-align: center;
}